{{ define "login" }}
<div class="login-form">
    <form action="/login">
            <fieldset>
                <legend>Type information for login</legend>
                <p>
                    <label for="login">Login </label
                    ><input type="text" id="login" name="login" pattern=".{3,}" title="three or more characters" autofocus required />
                </p>
                <p>
                    <label for="password">Password </label
                    ><input type="password" id="password" name="password" pattern=".{3,}" title="three or more characters" required/>
                </p>
            </fieldset>
            <p><input type="submit" value="Login" /></p>
    </form>
</div>
{{ end }}